{% extends "base.html" %}


<!-- NỘI DUNG THAY ĐỔI -->
{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Danh sách các sinh viên theo quyền </h1>
                <h6 class="text-center"> Student Role List </h6>

                <form action="/users/search_students?view={{view}}" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5"
                    role="search">
                    <input type="hidden" name="view" value={{view}}>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                        </span>
                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Search for something..." aria-label="Search">
                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% if view == 0 %}
<div style="background-color: #66FFCC; padding: 10px;">
    <!-- Cách hiển thị lên giao diện -->
    <div class="button-container" style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Bên trái -->
        <div style="display: flex; align-items: center;">
            <button class="btn btn-primary button" style="margin-right: 10px;">
                <a href="/users?view=0" style="color: inherit; text-decoration: none;">
                    <i class="bi bi-grid"></i>
                </a>
            </button>
            <button class="btn btn-light button" style="margin-right: 10px;">
                <a href="/users?view=1" style="color: inherit; text-decoration: none;">
                    <i class="bi bi-list"></i>
                </a>
            </button>
            <button class="btn btn-light button">
                <a href="/authority/requirements" style="color: inherit; text-decoration: none;">
                    <i class="bi bi-person"></i>
                </a>
            </button>
        </div>

        <!-- Ở giữa -->
        <div style="text-align: center;">
            <label><b>The number of Role Users: {{ total_this_user }} students</b></label>
        </div>

        <!-- Bên phải (lọc sinh viên theo quyền) --> 
        <div class="dropdown" style="text-align: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Role by:</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=User">User</a></li>
                <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=Admin">Admin</a></li>
                <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=SuperAdmin">SuperAdmin</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Chức năng hiển thị sinh viên -->
<section class="featured-section" style="padding-top: 10px">
    <div class="container">
        <div class="container text-center bg-body-secondary">
            <div style="padding-top: 110px;">

                <div class="row">
                    {% for student in this_user %}
                    <!-- Thực hiện vòng lặp từng sinh viên -->
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card" style="width: 18rem;">
                            <!-- Responsive Image -->
                            {% if student.avatar %}
                                <img src="/static/media/{{student.avatar}}" class="card-img-top"
                                alt="https://placehold.co/200x150"
                                style="object-fit: cover; width:287px; height: 287px; 
                                    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                            {% else %}
                                <img src="/static/images/default_avatar.png" class="card-img-top"
                                alt="https://placehold.co/200x150"
                                style="transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                            {% endif %}
                            
                            <div class="card-body">
                                <h5 class="card-title"> {{student.username}} </h5>
                                <p class="card-text"> {{student.fullname}} </p>
                        
                                {% if request.cookies.get('token') %}
                                <div class="btn-group mt-auto" role="group" aria-label="Button Click">
                                    <a href="detail_student?username_choice={{student.username}}" class="btn btn-primary"> Show Infor </a>
                                    <a href="get_admin?finded_username={{student.username}}" class="btn btn-warning"> Change Rule </a>
                                </div>
                                {% else %}
                                <a href="detail_student?username_choice={{student.username}}" class="btn btn-primary">Go somewhere</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<div style="display: flex; justify-content: space-between; align-items: center; background-color: #66FFCC; padding: 10px;">
    <div class="col-md-6">
        <div class="dataTables_length" id="DataTables_Table_0_length">
            <label><b>The number of Role Users: {{total_this_user}} students</b></label>
        </div>
    </div>

    <div class="dropdown" style="padding-right: 10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Role by:
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=User">User</a></li>
            <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=Admin">Admin</a></li>
            <li><a class="dropdown-item" href="/users/sort_user?view={{view}}&choice=SuperAdmin">SuperAdmin</a></li>
        </ul>
    </div>
</div>


<!-- Chức năng hiển thị sinh viên -->
<div class="card card-table comman-shadow">
    <div class="card-body">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">
                    <!-- Cách hiển thị lên giao diện -->
                    <div class="button-container" style="display: flex;">
                        <button class="btn btn-light button" style="margin-right: 10px;">
                            <a href="/users?view=0" style="color: inherit; text-decoration: none;">
                                <i class="bi bi-grid"></i>
                            </a>
                        </button>
                        <button class="btn btn-primary button" style="margin-right: 10px;">
                            <a href="/users?view=1" style="color: inherit; text-decoration: none;">
                                <i class="bi bi-list"></i>
                            </a>
                        </button>
                        <button class="btn btn-light button">
                            <a href="/authority/requirements" style="color: inherit; text-decoration: none;">
                                <i class="bi bi-person"></i>
                            </a>
                        </button>
                    </div>        
                </div>
                <br>

                <!-- Tạo bảng dữ liệu -->
                <table
                    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead class="student-thread">
                        <tr style="text-align: center; font-size:larger;">
                            {% if request.cookies.get('token') %}
                                <th style="width: 100px;">Role</th>
                            {% endif %}
                            <th rowspan="1" colspan="1"
                                aria-label="ID: activate to sort column ascending">STT</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Username: activate to sort column ascending">Username</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Fullname: activate to sort column ascending">Fullname</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Email: activate to sort column ascending">Email</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <form action="">
                        {% for student in this_user %}
                            <tr class="{% if loop.index is even %} even {% else %}odd{% endif %}">
                                {% if request.cookies.get('token') %}
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info">
                                        <a href="get_admin?finded_username={{student.username}}" style="color: aliceblue;"> <b>🖍 Edit</b> </a>
                                    </button>
                                </td>
                                {% endif %}
                                <td style="text-align: center;">{{loop.index}}</td>
                                <td style="text-align: center;"> <a href="detail_student?username_choice={{student.username}}">{{ student.username }}</a></td>
                                <td style="text-align: center;">{{ student.fullname }}</td>
                                <td style="text-align: center;">{{ student.email }}</td>
                            </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endif %}

<hr>
<div style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>

{% endblock content %}
