{% extends "base.html" %}


<!-- NỘI DUNG THAY ĐỔI -->
{% block content %}

<!-- Giao diện thay đổi quyền Admin -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Thay đổi mật khẩu </h1> 
                <br>
                <h2 class="text-center"> "{{username}}" </h2>
            </div>

        </div>
    </div>
</section>

<!-- Chức năng nhập liệu -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 10%;">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Create New Password </h2>
                        <hr>

                        <!-- Chức năng thay đổi quyền -->
                        <form action="/change_password" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="password" name="old_password" id="old_password" class="form-control"
                                    placeholder="Old Password" required="">
                                <label for="floatingInput">Old Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="new_password" id="new_password" class="form-control"
                                    placeholder="New Password" required="">
                                <label for="floatingInput">New Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="enter_again_password" id="enter_again_password" class="form-control"
                                    placeholder="Again Password" required="">
                                <label for="floatingInput">Password again</label>
                            </div>

                            <button type="submit" class="form-control btn btn-primary"> Change Password </button>
                            <button type="button" class="form-control btn btn-danger mt-3" style="color:aliceblue; font-size: 20px;"> <b> <a href="/profile"> Cancel </a></b> </button>
                        </form>

                        {% if success_message %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    alert('{{ success_message }}');
                                    window.location.href = "/profile"; // Redirect to avatar page
                                </script>
                            </div>
                        {% endif %}

                        {% if error_message %}
                        <div class="alert alert-danger mt-3" role="alert">
                            Mật khẩu bạn không khớp, yêu cầu nhập lại!
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
