{% extends "base.html" %}


<!-- NỘI DUNG THAY ĐỔI-->
{% block content %}

<!-- Giao diện trả sách -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Trả sách trong thư viện </h1> 
                <br>
                <h2 class="text-center"> "{{restored_book.book_id}}" </h2>
                <h2 class="text-center"> "{{restored_book.username_id}}" </h2>
            </div>
            
        </div>
    </div>
</section>


<!-- Chức năng nhập liệu -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 10%;">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Restore Book </h2>
                        <hr>

                        <!-- Chức năng trả sách -->
                        <form action="/books/restore_book_user" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="text" name="username_res" id="username_res" class="form-control" required=""
                                    placeholder="Username restore" value="{{restored_book.username_id}}" readonly>
                                <label for="username_res"> Username </label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="borrow_book_id" id="borrow_book_id" class="form-control" required=""
                                    placeholder="ID Book restore" value="{{restored_book.book_id}}" readonly>
                                <label for="borrow_book_id"> ID Book </label>
                            </div>
                            <button type="submit" class="form-control btn btn-primary"> Restore Book </button>
                            <button type="button" class="form-control btn btn-danger mt-3" style="color:aliceblue; font-size: 20px;"> <b> <a href="/books/all_borrowed_book"> Cancel </a></b> </button>
                        </form>

                        {% if success_message %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    alert('{{ success_message }}');
                                    window.location.href = "/books/all_borrowed_book"; // Redirect to all_borrow_books page
                                </script>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
