{% extends "base.html" %}


<!-- NỘI DUNG THAY ĐỔI -->
{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Sách trong thư viện </h1>
                <h6 class="text-center"> Book Store in Library </h6>

                <form method="get" action="/books/search_book?bookview={{bookview}}"
                    class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <input type="hidden" name="bookview" value="{{bookview}}">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1"></span>

                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Searching for something..." aria-label="Search Anywhere">

                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Hiển thị chức năng thêm sách -->
{% if request.cookies.get('token') %}
<div style="padding-top: 0.3cm; padding-bottom: 0.3cm; padding-left: 0.3cm;">
    <button type="button" class="btn btn-primary">
        <a href="/books/create_book" style="color: aliceblue;">
            <h5> ➕ Thêm sách </h5>
        </a>
    </button>
</div>
{% endif %}


<!-- Hiển thị từng cuốn sách -->
<div class="card card-table comman-shadow">
    <div class="card-body">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">
                    <!-- Cách hiển thị lên giao diện -->
                    <div class="container">
                        <div class="button-container">
                            <button class="btn btn-light button">
                                <a href="/books?bookview=0">
                                    <i class="bi bi-list"></i>
                                </a>
                            </button>
                            <button class="btn btn-primary button">
                                <a href="/books?bookview=1">
                                    <i class="bi bi-grid"></i>
                                </a>
                            </button>
                        </div>
                    </div>

                    <!-- Tổng số sách của thư viện -->
                    <div class="col-md-6">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label> <b> Total Book: {{total_books}} books </b>
                            </label>
                        </div>
                    </div>

                    <!-- Chức năng sắp xếp sách (Bên phải) -->
                    <div class="col-md-6 text-md-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sort by:
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/books/sort_books?bookview=1&choice=id">Sort by
                                        ID</a></li>
                                <li><a class="dropdown-item" href="/books/sort_books?bookview=1&choice=name">Sort by
                                        Title</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Chức năng hiển thị từng cuốn sách -->
                <div class="container text-center bg-body-secondary">
                    <div class="row">
                        {% for book in books %}
                        <!-- Thực hiện vòng lặp từng sinh viên -->
                        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card" style="width: 18rem;">

                                <!-- Responsive Image -->
                                 {% if book and book.image_book%}
                                <img src="static/media/{{book.image_book}}" class="card-img-top"
                                    alt="https://placehold.co/200x150"
                                    style="width: 286px; height: 215px; object-fit: cover;
                                    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                    onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                    onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                                {% else %}
                                    <img src="https://placehold.co/200x150" class="card-img-top"
                                    alt="https://placehold.co/200x150"
                                    style="transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                    onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                    onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title"> {{book.title}} </h5>
                                    <p class="card-text"> {{book.id_book}} </p>

                                    {% if request.cookies.get('token') %}
                                    <div class="btn-group mt-auto" role="group" aria-label="Button Click">
                                        <a href="/books/detail_book?choice_book={{book.id_book}}" class="btn btn-primary"> Show Book </a>
                                        <a href="/books/edit_book?id={{ book.id_book }}" class="btn btn-warning"> Edit
                                            Book </a>
                                    </div>
                                    {% else %}
                                    <a href="/books/detail_book?choice_book={{book.id_book}}" class="btn btn-primary">Go somewhere</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Phân trang -->
                <div style="text-align: center;">
                    <nav aria-label="Page navigation example" style="display: inline-block;">
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link" href="/books?bookview=1&page={{ page - 1 }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for num in range(1, total_pages + 1) %}
                            <li class="page-item {% if num == page %}active{% endif %}">
                                <a class="page-link" href="/books?bookview=1&page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                                <a class="page-link" href="/books?bookview=1&page={{ page + 1 }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>
<div style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>

{% endblock content %}
