{% extends "base.html" %}

<!-- NỘI DUNG THAY ĐỔI -->
{% block content %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="\">Home Page</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Form</li>
                    </ol>
                </nav>
                <h2 class="text-white">Contact Form</h2>
            </div>

        </div>
    </div>
</header>


<!-- LƯU THÔNG TIN ĐƯỢC PHẢN HỒI VỀ EMAIL -->
<section class="section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h3 class="mb-4 pb-2">Hãy gửi phản hồi của bạn tới NXB nhé!</h3>
            </div>

            <div class="col-lg-6 col-12">
                <form action="/contact" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="sending_by_name" id="sending_by_name" class="form-control"
                                    placeholder="Name" required="">

                                <label for="sending_by_name">Name</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="email" name="sending_by_email" id="sending_by_email"
                                    pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address"
                                    required="">

                                <label for="sending_by_email">Email address</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="sending_content" name="sending_content"
                                    placeholder="Tell me about the project" required=""></textarea>
                                <label for="sending_content">Tell me about the project</label>
                            </div>
                        </div>

                        <!-- Chức năng đánh giá -->
                        <div class="col-lg-12 col-12">
                            <label for="rate_star"> <b> Rate the project: </b></label>
                            <div class="rate" id="rate_star" name="rate_star">
                                <input type="radio" id="star5" name="rate_star" value="5" required/>
                                <label for="star5" title="5 stars"><span class="fa fa-star"></span></label>
                                <input type="radio" id="star4" name="rate_star" value="4" />
                                <label for="star4" title="4 stars"><span class="fa fa-star"></span></label>
                                <input type="radio" id="star3" name="rate_star" value="3" />
                                <label for="star3" title="3 stars"><span class="fa fa-star"></span></label>
                                <input type="radio" id="star2" name="rate_star" value="2" />
                                <label for="star2" title="2 stars"><span class="fa fa-star"></span></label>
                                <input type="radio" id="star1" name="rate_star" value="1" />
                                <label for="star1" title="1 star"><span class="fa fa-star"></span></label>
                            </div>
                        </div>

                        <!-- Chức năng gửi email -->
                        <div class="col-lg-4 col-12 ms-auto">
                            <button type="submit" class="form-control">Submit</button>
                        </div>

                    </div>
                </form>

                {% if success_message %}
                <div class="alert alert-success mt-3" role="alert">
                    <script type="text/javascript">
                        if (confirm('Bạn đã gửi email thành công!')) {
                            window.location.href = "/contact";         // Redirect to contact page
                        }
                    </script>
                </div>
                {% endif %}
            </div>

            <div class="col-lg-5 col-12 mx-auto mt-5 mt-lg-0">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.401171567661!2d105.77935497600804!3d21.016628280629707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454aad14949b5%3A0x50fde6fabfba0a79!2zSGFuZGljbyBUb3dlciwgUGjhuqFtIEjDuW5nLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1719471249620!5m2!1svi!2s"
                    width="500" height="250" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5 class="mt-4 mb-2">Google Map - Rikkeisoft</h5>
                <p> 📍 Phạm Hùng, Mễ Trì, Từ Liêm, Hà Nội, Việt Nam</p>
            </div>

        </div>
    </div>
</section>


<!-- TRANG TRÍ GIAO DIỆN VỚI CSS -->
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .checked {
        color: orange;
    }

    .rate {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .rate input {
        display: none;
    }

    .rate label {
        font-size: 2rem;
        cursor: pointer;
    }

    /* Di chuột vào và dừng lại tại 1 mức tùy chọn */
    .rate input:checked ~ label {
        color: orange;
    }

    /* Di chuột váo sẽ thay đổi */
    .rate input:hover ~ label {
        color: orange;
    }
</style>

{% endblock content %}
