{% extends "base.html" %}


<!-- NỘI DUNG BỊ THAY ĐỔI -->
{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Tìm kiếm thể loại tài liệu </h1>
                <h6 class="text-center"> Category Search </h6>

                <form action="/category_books/search_category" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5"
                    role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                        </span>

                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Searching for something..." aria-label="Search Anywhere" value="{{searching}}">
                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


<!-- Hiển thị chức năng thêm Category -->
{% if request.cookies.get('token') %}
<div style="text-align: center; background-color: aquamarine;">
    <button type="button" class="btn btn-primary">
        <a href="/category_books/create_category" style="color: aliceblue;">
            <h5> ➕ Thêm thể loại</h5>
        </a>
    </button>
</div>
{% endif %}

<!-- Tổng số thể loại sách của thư viện -->
<div class="col-md-6" style="padding-bottom: 10px;">
    <div class="dataTables_length" id="DataTables_Table_0_length">
        <label> <b> Total Searched Category: {{total_searching_category}} categories </b>
        </label>
    </div>
</div>

<!-- Chức năng hiển thị từng thể loại sách-->
<div class="card card-table comman-shadow">
    <div class="card-body">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">                

                <!-- Tạo bảng dữ liệu -->
                <table
                    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead class="student-thread">
                        <tr style="text-align: center; font-size:larger;">
                            {% if request.cookies.get('token') %}
                                <th style="width: 200px;">Edit</th>
                            {% endif %}
                            <th rowspan="1" colspan="1"
                                aria-label="ID: activate to sort column ascending"> Category ID </th>
                            <th rowspan="1" colspan="1"
                                aria-label="Title: activate to sort column ascending">Category Name</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Inserted At: activate to sort column ascending">Inserted At</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Inserted By: activate to sort column ascending">Inserted By</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Updated At: activate to sort column ascending">Updated At</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Updated By: activate to sort column ascending">Updated By</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <form action="">
                            {% for category in searching_category %}
                            <tr class="{% if loop.index is even %} even {% else %}odd{% endif %}">
                                {% if request.cookies.get('token') %}
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info">
                                        <a href="/category_books/update_category?choice_category_id={{category.category_id}}" style="color: aliceblue;"> <b>🖍 Edit Category</b> </a>
                                    </button>
                                </td>
                                {% endif %}

                                <td style="text-align: center;">{{category.category_id}}</td>
                                <td style="text-align: center;"> <a href="#">{{category.category_name}}</a></td>
                                <td style="text-align: center;"> {{category.insert_at}}</td>
                                <td style="text-align: center;"> {{category.insert_id}}</td>
                                <td style="text-align: center;"> {{category.update_at}}</td>
                                <td style="text-align: center;"> {{category.update_id}}</td>
                            </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<hr>
<div style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>

{% endblock content %}
