{% extends "base.html" %}

{% block content %}

<!-- Giao diện thêm thể loại sách -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Thêm thể loại mới </h1>
                <h6 class="text-center"> Add New Category in Library </h6>
            </div>

        </div>
    </div>
</section>


<!-- Chức năng đăng nhập -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 10%;">
                    <div class="card-body">
                        <h2 class="card-title text-center">Create Category</h2>
                        <hr>

                        <!-- Chức năng thêm Category -->
                        <form action="/category_books/create_category" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="text" name="category_id" id="category_id" class="form-control"
                                    placeholder="ID Category" required="">
                                <label for="category_id"> CategoryID </label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" name="category_name" id="category_name" class="form-control"
                                    placeholder="Name of Category" required="">
                                <label for="category_name"> Category Name </label>
                            </div>
                            
                            <button type="submit" class="form-control btn btn-primary"> Create </button>
                        </form>

                        {% if success %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    if(confirm('Thêm thể loại sách thành công!')){
                                        window.location.href = "/category_books";         // Redirect to home page
                                    }
                                </script>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
