<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Library Rikkeisoft </title>

    <!-- CSS FILES -->
    <!-- Sử dụng đường dẫn tương đối -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/templatemo-topic-listing.css" rel="stylesheet">
</head>

<body id="top">
    <!-- Trang mở đầu của Header -->
    <main>
        <div id="sticky-wrapper" class="sticky-wrapper" style="height: 78px;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="http://127.0.0.1:8000/">
                        <i class="bi-back"></i>
                        <span> Library Manager </span>
                    </a>

                    <!-- Thanh bar trên cùng -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="http://127.0.0.1:8000"> Home </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="http://127.0.0.1:8000/books"> Library </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3"> Borrow </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="http://127.0.0.1:8000/users"> Student </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5"> Category </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_6"> Contact </a>
                            </li>
                        </ul>


                        <div class="d-none d-lg-block">
                            {% if request.cookies.get('token') %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <a href="/profile" class="navbar-icon bi-person smoothscroll"> </a> {{
                                    request.cookies.get('username') }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li> <a href="/profile" class="navbar-icon bi-person smoothscroll"> </a> {{
                                        request.cookies.get('username') }}</li>
                                    <li><a class="dropdown-item" href="/logout"> Logout </a></li>
                                </ul>
                            </div>
                            {% else %}
                            <a href="/login" class="navbar-icon bi-person smoothscroll"></a>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </nav>
        </div>
    </main>



    <!-- NỘI DUNG BỊ THAY ĐỔI -->
    {% block content %}

    <!-- NỘI DUNG THAY ĐỔI SẼ ĐƯỢC VIẾT TRONG NÀY -->

    {% endblock content%}
    <!-- NỘI DUNG BỊ THAY ĐỔI -->



    <!-- JAVASCRIPT FILES -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>


<!-- Trang kết thúc của Footer -->
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="home.html">
                    <i class="bi-back"></i>
                    <span> Rikkeisoft </span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="http://127.0.0.1:8000/" class="site-footer-link"> Home </a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="http://127.0.0.1:8000/books/" class="site-footer-link"> Library </a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="http://127.0.0.1:8000/users" class="site-footer-link"> Student </a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link"> Category </a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link"> Contact </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3"> Information </h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 0398463203" class="site-footer-link">
                        (+84) 398 463 203
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:tungtq2@rikkeisoft.com" class="site-footer-link">
                        tungtq2@rikkeisoft.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <h6 class="site-footer-title mb-3"> Authority </h6>
                Copyright © 2024 by Rikkeisoft Company All rights reserved.
                <br><br> Author: <a rel="nofollow" href="https://github.com/pisceskibo" target="_blank"> <u> TungTQ </u>
                </a>
            </div>

        </div>
    </div>
</footer>
<p style="text-align: center;"> Copyright © 2024 by Rikkeisoft Company </p>

</html>