{% extends "base.html" %}

<!-- NỘI DUNG THAY ĐỔI-->
{% block content %}

<!-- Giao diện mượn sách -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Mượn sách trong thư viện </h1> 
                <br>
                <h2 class="text-center"> "{{borrowed_book.id_book}} - {{borrowed_book.title}}" </h2>
            </div>
            
        </div>
    </div>
</section>


<!-- Chức năng nhập liệu -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 10%;">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Borrow Book </h2>
                        <hr>

                        <!-- Chức năng mượn sách -->
                        <form action="/books/borrow_book" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="text" name="borrow_book_id" id="borrow_book_id" class="form-control" required=""
                                    placeholder="ID Book" value="{{borrowed_book.id_book}}" readonly>
                                <label for="borrow_book_id"> ID Book </label>
                            </div>

                            <button type="submit" class="form-control btn btn-primary"> Borrow Book </button>
                            <button type="button" class="form-control btn btn-danger mt-3" style="color:aliceblue; font-size: 20px;"> <b> <a href="/books/detail_book?choice_book={{borrowed_book.id_book}}"> Cancel </a></b> </button>
                        </form>

                        {% if success_message %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    alert('{{ success_message }}');
                                    window.location.href = "/books/detail_book?choice_book={{borrowed_book.id_book}}"; // Redirect to book_detail page
                                </script>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
