{% extends "base.html" %}

{% block content %}

<!-- Giao diện thêm sách -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Xóa sách trong thư viện </h1> 
                <br>
                <h2 class="text-center"> "{{book.title}}" </h2>
            </div>

        </div>
    </div>
</section>


<!-- Chức năng đăng nhập -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 5%;">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Bạn thực sự muốn xóa sách này? </h2>
                        <hr>

                        <!-- Form sửa sách -->
                        <form action="/books/delete_book" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="text" name="id" id="id" class="form-control" required=""
                                    placeholder="ID Book" value="{{book.id_book}}" readonly>
                                <label for="id_book"> ID Book </label>
                            </div>
                            
                            <button type="submit" class="form-control btn btn-primary"> Có </button>
                            <button type="button" class="form-control btn btn-danger mt-3" style="color:aliceblue; font-size: 20px;"> <b> <a href="/books/edit_book?id={{book.id_book}}"> Không </b> </a> </button>
                        </form>

                        {% if success_message %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    alert('Xóa sách thành công!');
                                    window.location.href = "/books?bookview=0"; // Redirect to books page
                                </script>
                            </div>
                        {% endif %}
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
