{% extends "base.html" %}

<!-- NỘI DUNG BỊ THAY ĐỔI -->
{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Trang chủ thông tin </h1>
                <h6 class="text-center"> một vài tin tức quan trọng </h6>

                <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                        </span>

                        <input name="keyword" type="search" class="form-control" id="keyword"
                            placeholder="Search for something..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide">

                <!-- Thanh cuộn sang ngang phía dưới -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>

                <!-- Nội dung chính của slide -->
                <div class="carousel-inner" style="border-radius: 5%;">
                    <div class="carousel-item active">
                        <img src="\static\images\fastapi_python.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="\static\images\django_python.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="\static\images\flask_python.jpg" class="d-block w-100">
                    </div>
                </div>

                <!-- Thanh chuyển sang ngang phía dưới -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</section>

<div style="text-align: center;">
    <h3> TIN TỨC MỚI VỀ TRANG WEB </h3>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>

{% endblock content%}
<!-- NỘI DUNG BỊ THAY ĐỔI -->