{% extends "base.html" %}


<!-- NỘI DUNG BỊ THAY ĐỔI -->

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Sách trong thư viện </h1>

                <h6 class="text-center"> Book Store in Library </h6>

                <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1"></span>

                        <input name="keyword" type="search" class="form-control" id="keyword"
                            placeholder="Search for something..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Hiển thị từng cuốn sách -->
<div class="card card-table comman-shadow">
    <div class="card-body">

        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <!-- Limit trên một trang -->
                <div class="dataTables_length" id="DataTables_Table_0_length">
                    <label>Show
                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select> books
                    </label>
                </div>

                <!-- Tạo bảng dữ liệu -->
                <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead class="student-thread">
                        <tr style="text-align: center;">
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending">Title</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Author: activate to sort column ascending">Author</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Published Date: activate to sort column ascending">Published Date</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending">Category</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr class="{% if loop.index is even %} even {% else %}odd{% endif %}">
                            <td style="text-align: center;">{{ book.id_book }}</td>
                            <td> <a href="#">{{ book.title }}</a></td>
                            <td style="text-align: center;">{{ book.author }}</td>
                            <td style="text-align: center;">{{ book.year }}</td>
                            <td style="text-align: center;">{{ book.category }}</td>
                            <td style="text-align: center;">{{ book.quantity_amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <!-- Phân trang -->
                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                    <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="-1" id="DataTables_Table_0_previous">Previous</a>
                    <span><a class="paginate_button current" aria-controls="DataTables_Table_0" role="link" aria-current="page" data-dt-idx="0" tabindex="0">1</a></span>
                    <a class="paginate_button next" aria-controls="DataTables_Table_0" role="link" data-dt-idx="next" tabindex="0" id="DataTables_Table_0_next">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- NỘI DUNG THAY ĐỔI -->