{% extends "base.html" %}


<!-- NỘI DUNG BỊ THAY ĐỔI -->
{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Tìm sách trong thư viện </h1>
                <h6 class="text-center"> Searching Book in Library </h6>

                <form method="get" action="/books/search_book?bookview={{bookview}}"
                    class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <input type="hidden" name="bookview" value="{{bookview}}">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1"></span>

                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Searching for something..." aria-label="Search Anywhere" value={{searching}}>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Hiển thị chức năng thêm sách -->
{% if request.cookies.get('token') %}
<div style="padding-top: 0.3cm; padding-bottom: 0.3cm; padding-left: 0.3cm;">
    <button type="button" class="btn btn-primary">
        <a href="/books/create_book" style="color: aliceblue;">
            <h5> ➕ Thêm sách</h5>
        </a>
    </button>
</div>
{% endif %}

<!-- Hiển thị từng cuốn sách sau khi searching -->
<div class="card card-table comman-shadow">
    <div class="card-body">

        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">
                    {% if bookview == 0 %}
                    <!-- Cách hiển thị lên giao diện -->
                    <div class="container">
                        <div class="button-container">
                            <button class="btn btn-primary button">
                                <a href="/books?bookview=0">
                                    <i class="bi bi-list"></i>
                                </a>
                            </button>
                            <button class="btn btn-light button">
                                <a href="/books?bookview=1">
                                    <i class="bi bi-grid"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="container">
                        <div class="button-container">
                            <button class="btn btn-light button">
                                <a href="/books?bookview=0">
                                    <i class="bi bi-list"></i>
                                </a>
                            </button>
                            <button class="btn btn-primary button">
                                <a href="/books?bookview=1">
                                    <i class="bi bi-grid"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Limit trên một trang (Bên trái) -->
                    <div class="col-md-6">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label> <b> Show {{total_books}} books </b>
                            </label>
                        </div>
                    </div>

                    <!-- Chức năng sắp xếp sách (Bên phải) -->
                    <div class="col-md-6 text-md-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sort by:
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item"
                                        href="/books/sort_books?bookview={{bookview}}&choice=id">Sort by ID</a></li>
                                <li><a class="dropdown-item"
                                        href="/books/sort_books?bookview={{bookview}}&choice=name">Sort by Title</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="/books/sort_books?bookview={{bookview}}&choice=year">Sort by Year</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- HIỂN THỊ LAYOUT THEO TEMPLATE TƯƠNG ỨNG -->
                {% if bookview == 0 %}
                <!-- Tạo bảng dữ liệu -->
                <table
                    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead class="student-thread">
                        <tr style="text-align: center; font-size:larger;">
                            {% if request.cookies.get('token') %}
                            <th style="width: 100px;">Edit</th>
                            {% endif %}
                            <th rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending">ID</th>
                            <th rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending">Title</th>
                            <th rowspan="1" colspan="1" aria-label="Author: activate to sort column ascending">Author
                            </th>
                            <th rowspan="1" colspan="1" aria-label="Published Date: activate to sort column ascending">
                                Published Date</th>
                            <th rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending">
                                Category</th>
                            <th rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="">
                            {% for book in books %}
                            <tr class="{% if loop.index is even %} even {% else %}odd{% endif %}">
                                {% if request.cookies.get('token') %}
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info">
                                        <a href="/books/edit_book?id={{ book.id_book }}" style="color: aliceblue;">
                                            <b>🖍 Edit</b> </a>
                                    </button>
                                </td>
                                {% endif %}
                                <td style="text-align: center;">{{ book.id_book }}</td>
                                <td> <a href="/books/detail_book?choice_book={{book.id_book}}">{{ book.title }}</a></td>
                                <td style="text-align: center;">{{ book.author }}</td>
                                <td style="text-align: center;">{{ book.year }}</td>
                                <td style="text-align: center;">{{ book.category }}</td>
                                <td style="text-align: center;">{{ book.quantity_amount }}</td>
                            </tr>
                            {% endfor %}
                        </form>
                    </tbody>
                </table>
                {% else %}
                <!-- Chức năng hiển thị sách -->
                <div class="container text-center bg-body-secondary">
                    <div class="row">
                        {% for book in books %}
                        <!-- Thực hiện vòng lặp từng cuốn sách -->
                        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card" style="width: 18rem;">

                                <!-- Responsive Image -->
                                {% if book and book.image_book%}
                                <img src="/static/media/{{book.image_book}}" class="card-img-top"
                                    alt="https://placehold.co/200x150"
                                    style="width: 286px; height: 215px; object-fit: cover;
                                    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                    onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                    onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                                {% else %}
                                    <img src="https://placehold.co/200x150" class="card-img-top"
                                    alt="https://placehold.co/200x150"
                                    style="transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                    onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                    onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title"> {{book.title}} </h5>
                                    <p class="card-text"> {{book.id_book}} </p>

                                    {% if request.cookies.get('token') %}
                                    <div class="btn-group mt-auto" role="group" aria-label="Button Click">
                                        <a href="/books/detail_book?choice_book={{book.id_book}}" class="btn btn-primary"> Show Book </a>
                                        <a href="/books/edit_book?id={{ book.id_book }}" class="btn btn-warning"> Edit
                                            Book </a>
                                    </div>
                                    {% else %}
                                    <a href="/books/detail_book?choice_book={{book.id_book}}" class="btn btn-primary">Go somewhere</a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<hr>
<div style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>

{% endblock content %}

<!-- NỘI DUNG THAY ĐỔI -->
 