{% extends "base.html" %}

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Danh sách các sinh viên </h1>

                <h6 class="text-center"> Student List </h6>

                <form action="/users/search_students" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                        </span>

                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Searching for something..." aria-label="Search Anywhere">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


<!-- Chức năng hiển thị sinh viên -->
<section class="featured-section">
    <div class="container">
        <div class="container text-center bg-body-secondary">
            <div style="padding-top: 110px;">


                <div class="row">
                    {% for student in students %}
                    <!-- Thực hiện vòng lặp sinh viên 1 -->
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card" style="width: 18rem;">

                            <!-- Responsive Image -->
                            <img src="static/images/default_avatar.png" class="card-img-top"
                                alt="https://placehold.co/200x150"
                                style="transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;"
                                onmouseover="this.style.transform='scale(1.1)'; this.style.filter='brightness(80%)';"
                                onmouseout="this.style.transform='scale(1)'; this.style.filter='brightness(100%)';">


                            <div class="card-body">
                                <h5 class="card-title"> {{student.username}} </h5>
                                <p class="card-text"> {{student.fullname}} </p>
                                <a href="" class="btn btn-primary"> Go somewhere </a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</section>

<div style="text-align: center;">
    <h3> TIN TỨC MỚI VỀ TRANG WEB </h3>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>



{% endblock content %}