{% extends "base.html" %}


<!-- NỘI DUNG BỊ THAY ĐỔI -->

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Sách trong thư viện </h1>

                <h6 class="text-center"> Book Store in Library </h6>

                <form method="get" action="/books/search_book" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1"></span>

                        <input name="searching" type="search" class="form-control" id="searching"
                            placeholder="Searching for something..." aria-label="Search Anywhere">

                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Hiển thị chức năng thêm sách -->
{% if request.cookies.get('token') %}
<div style="padding-top: 0.3cm; padding-bottom: 0.3cm; padding-left: 0.3cm;"> 
    <button type="button" class="btn btn-primary">
        <a href="/books/create_book" style="color: aliceblue;"> <h5> ➕ Thêm sách</h5> </a>
    </button>
</div>
{% endif %}


<!-- Hiển thị từng cuốn sách -->
<div class="card card-table comman-shadow">
    <div class="card-body">
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">

                    <!-- Tổng số sách của thư viện -->
                    <div class="col-md-6">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label> <b> Show {{total_books}} books </b>
                            </label>
                        </div>
                    </div>
                                    
                    <!-- Chức năng sắp xếp sách (Bên phải) -->
                    <div class="col-md-6 text-md-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort by:
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/books/sort_books?choice=id">Sort by ID</a></li>
                                <li><a class="dropdown-item" href="/books/sort_books?choice=year">Sort by Year</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Tạo bảng dữ liệu -->
                <table
                    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped dataTable no-footer"
                    id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead class="student-thread">
                        <tr style="text-align: center; font-size:larger;">
                            {% if request.cookies.get('token') %}
                                <th style="width: 100px;">Edit</th>
                            {% endif %}
                            <th rowspan="1" colspan="1"
                                aria-label="ID: activate to sort column ascending">ID</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Title: activate to sort column ascending">Title</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Author: activate to sort column ascending">Author</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Published Date: activate to sort column ascending">Published Date</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Category: activate to sort column ascending">Category</th>
                            <th rowspan="1" colspan="1"
                                aria-label="Action: activate to sort column ascending">Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <form action="">
                        {% for book in books %}
                            <tr class="{% if loop.index is even %} even {% else %}odd{% endif %}">
                                {% if request.cookies.get('token') %}
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info">
                                        <a href="/books/edit_book?id={{ book.id_book }}" style="color: aliceblue;"> <b>🖍 Edit</b> </a>
                                    </button>
                                </td>
                                
                                {% endif %}
                                <td style="text-align: center;">{{ book.id_book }}</td>
                                <td> <a href="#">{{ book.title }}</a></td>
                                <td style="text-align: center;">{{ book.author }}</td>
                                <td style="text-align: center;">{{ book.year }}</td>
                                <td style="text-align: center;">{{ book.category }}</td>
                                <td style="text-align: center;">{{ book.quantity_amount }}</td>
                            </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  </hr>


{% endblock content %}

<!-- NỘI DUNG THAY ĐỔI -->