{% extends "base.html" %}


<!-- NỘI DUNG THAY ĐỔI -->
{% block content %}

<!-- Giao diện xóa bình luận -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1"
    style="padding-bottom: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center"> Xóa bình luận </h1>
                <h2 class="text-white text-center"> "{{your_comment_choice.book_id}} - {{your_comment_choice.username_id}}" </h2> 
                <br>
            </div>
        </div>
    </div>
</section>


<!-- Chức năng xóa sách -->
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 col-12" style="padding-top: 80px;">
                <div class="card" style="border-radius: 5%;">
                    <div class="card-body">
                        <h2 class="card-title text-center"> Bạn thực sự muốn xóa bình luận này? </h2>
                        <hr>

                        <!-- Form xóa sách -->
                        <form action="#" method="post" class="custom-form" role="form">
                            <div class="form-floating mb-3">
                                <input type="hidden" id="id_choice" name="id_choice" value="{{ your_comment_choice.id }}">
                            </div>
                            
                            <button type="submit" class="form-control btn btn-primary"> Có </button>
                            <button type="button" class="form-control btn btn-danger mt-3" style="color:aliceblue; font-size: 20px;"> <b> <a href="/books/comment_edit?id_choice={{your_comment_choice.id}}"> Không </b> </a> </button>
                        </form>

                        {% if success_message %}
                            <div class="alert alert-success mt-3" role="alert">
                                <script type="text/javascript">
                                    alert('Xóa bình luận thành công!');
                                    window.location.href = "/books/detail_book?choice_book={{your_comment_choice.book_id}}";    // Redirect to this_book_detail page
                                </script>
                            </div>
                        {% endif %}
                    </div>     
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
